#include <winver.h>

#define LODE_FILE_VERSION        1,0,0,0
#define LODE_FILE_VERSION_STRING "1.0.0"

VS_VERSION_INFO VERSIONINFO
    FILEVERSION LODE_FILE_VERSION
    PRODUCTVERSION LODE_FILE_VERSION
    FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
    FILEFLAGS VS_FF_DEBUG
#else
    FILEFLAGS 0x0L
#endif
    FILEOS VOS_NT_WINDOWS32
    FILETYPE VFT_APP
    FILESUBTYPE VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName",      "Lode Luau\0"
            VALUE "FileDescription",  "Lode Luau Runtime\0"
            VALUE "FileVersion",      LODE_FILE_VERSION_STRING "\0"
            VALUE "InternalName",     "lode\0"
            VALUE "LegalCopyright",   "Copyright (c) 2026 Lode Luau Contributors\0"
            VALUE "OriginalFilename", "lode.exe\0"
            VALUE "ProductName",      "Lode\0"
            VALUE "ProductVersion",   LODE_FILE_VERSION_STRING "\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
